@use '@/styles/variables' as *;

.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    padding: $spacing-lg;
    background-color: $gray-50;
    overflow-y: auto;

    @include mobile {
      padding: $spacing-md;
    }
  }
}
