@import '@/styles/variables';

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex: 1;
  }

  &__content {
    flex: 1;
    padding: $spacing-lg;
    background-color: $gray-50;
    min-height: calc(100vh - 64px);
    overflow-y: auto;

    @include mobile {
      padding: $spacing-md;
    }
  }
}
